
@font-face {
    font-family: "flood-std-regular";
    src: url(./fonts/FloodStd.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

img[alt="women"]{
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
}
/*Header*/
#header h1{
    color: #354463;
}
#header ul {
    list-style-type: none;
    color: #354463;
    line-height: 1.5rem;
}

#header button {
    border: none;
    background-color: #C1F7D5;
    border-radius: 6rem;
    color: #354463;
}

#header button a {
    text-decoration: none;
    color: #354463;
}

.welcome {
    background: url(./imgs/welcome-home.png);
 
    background-position: center;
   background-size: cover;
    background-repeat: no-repeat;
}

#welcome h1 {
    font-family: "flood-std-regular",sans-serif;
    color:white;
}
#welcome p {
    color :#354463;
}
#welcome a {
   
    color: #354463;
}
.take-action {
    background-color: #C1F7D5;
}
.what-we-do {
    background-color: #354463;
}
.did-you-know {
    background: url(./imgs/Did\ you\ know\ background.png);
    background-size: cover;
    background-position: 5%;
    
}
.event-news {
    background-color: #354463;
}
.subscribe {
    background-color: #C1F7D5;
}

a[id="read-more"] {
    text-decoration: none;
    background-color: #C1F7D5;
    font-family: Helvetica, sans-serif;
    color: #354463;
    font-weight: bold;
}

/* Mobile */
@media screen  and (min-width: 100px){

    /*Header*/
    #header {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.1rem;
    }
    #header h1,ul {
        padding:1.5rem 1.8rem;
        font-size: 1rem;
    }
    #header button {
        grid-column: 1/3;
        justify-self: center;
        width: 80%;
        color: #354463;
        padding: 0.5rem 1rem;
    }
    #header button a {
        color: #354463;
        font-size: 1rem;
        font-weight: bold;
    }

    /* Welcome */
    #welcome {
        position: relative;
        left: 10%;
        width: 80%;
    }
    #welcome h1 {
        max-width: 3rem;
        font-size: 2rem;
        padding: 2rem 0;
        margin-bottom: 1rem;
    }

    #welcome #issue h3{
        color: white;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 50;
        padding: 0.7rem 0.5rem;
        background-color: #354463;
        max-width: 10rem;
        margin: 0 auto;
        position: relative;
        bottom: 1rem;
    }

    #welcome #issue {
        text-align: center;
        background-color: white;
        max-width: 100%;
        position: relative;
        bottom: 1rem;
    }

    #welcome #issue p {
        font-size: 1.4rem;
        padding: 0.5rem 1.3rem;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Helvetica, sans-serif;
    }

    #welcome #issue #content {
        padding: 1rem 0;
    }

    #take-actions {
        position: relative;
        left: 10%;
        max-width: 80%;
        padding-bottom: 2rem;
    }

    #take-actions h3 {
        color: white;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 50;
        padding: 0.7rem 0.5rem;
        background-color: #354463;
        max-width: 10rem;
        margin: 0 auto;
        position: relative;
        bottom: 0.3rem;
    }

    #take-actions #actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
        column-gap: 1rem;
    }

    #take-actions #actions .action h4 {
        font-family: Helvetica, sans-serif;
        color: #354463;
        padding: 1rem 0;
    }
    #take-actions #actions .action p {
        font-size: 0.9rem;
        color: #354463;
    }

    #what-we-do {
        width: 80%;
        position: relative;
        left: 10%;
    }

    #what-we-do #we-do-msg {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #what-we-do #we-do-msg h3 {
        background-color: white;
        color: #354463;
        font-size: 0.8rem;
        font-family: Helvetica, sans-serif;
        max-width: 9rem;
        padding: 0.6rem 0.6rem;
        margin: 1rem 0;
    }
    #what-we-do #we-do-msg p {
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.4rem;
        font-family: Helvetica, sans-serif;
        padding: 2rem 0;
    }
    #what-we-do #we-do-content {
        display: grid;
        row-gap: 3.5rem;
        justify-content: center;
    }
    #we-do-content .we-do-card {
        text-align: center;
        background-color: white;
        padding: 2rem 0;
    }
    #we-do-content .we-do-card img{
        width: 80%;
        position: relative;
        bottom: 4rem;
        z-index: 1;
    }
    #we-do-content .we-do-card h4{
        color: #354463;
        font-family: Helvetica, sans-serif;
        padding: 1rem 0;
        position: relative;
        bottom: 3rem;
    }
    #we-do-content .we-do-card p{
        padding: 1.5rem 1rem;
        position: relative;
        bottom: 2rem;
        color: #354463;
        opacity: 0.9;
    }
    #we-do-content .we-do-card a{
        padding: 0.4rem 2rem;
        border-radius: 1rem;
        margin: 2rem 0;
    }

    #did-you-know {
        width: 80%;
        position: relative;
        left: 10%;

    }
    #did-you-know #did-you-know-intro{
      display: grid;
      row-gap: 2rem;
      margin-bottom: 2rem;
    }
    #did-you-know #did-you-know-intro h2 {
        color: white;
        font-family: "flood-std-regular";
        padding: 2rem 0;
        max-width: 70%;
        font-size: 2.4rem;
    }
    #did-you-know #did-you-know-intro a {
        padding: 0.6rem 1rem;
        border-radius: 1rem;
        max-width: 11rem;
    }

    #did-you-know #did-you-know-stats {
        display: grid;
        row-gap: 2rem;
    }
    #did-you-know #did-you-know-stats .stats{
        background-color: white;
        padding: 1rem;
    }
    #did-you-know h3 {
        color:#C1F7D5;
        background-color: #354463;
        font-size: 1rem;
        font-family: Helvetica, sans-serif;
        max-width: 10rem;
        padding: 0.5rem;
        
        position: relative;
        left: 20%;
        bottom: 2rem;
    }
    #did-you-know #did-you-know-stats .stats .inside{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
    }
    .inside h4 {
        color: #354463;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
    }
    .inside img {
        background-color: #C1F7D5;
       
        border-radius: 2rem;
        padding: 0.5rem;
    }
    .inside p {
        color: #354463;
        padding-right: 0.5rem;
    }

    #stories {
        width: 80%;
        position: relative;
        left: 10%;
        display: grid;
        row-gap: 2rem;
        
    }
    #img-h3 {
        padding: 0 0 2rem 0;
    }

    #stories #img-h3 h3 {
        text-align: center;
        background-color:#354463;
        color :#C1F7D5;
        font-size: 1rem;
        font-weight: 100;
        max-width: 10rem;
        padding: 0.8rem 0;
        position: relative;
        left: 20%;
        top: 1rem;
    }

    #stories #story-card {
        background-color: #354463;
        color: white;
        padding: 1rem 0;
       
    }

    #story-card p {
        font-size: 1.4rem;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        padding: 1rem 1rem;
        text-align: center;
    }

    #story-card #author {
        font-size: 0.6rem;
        color: #f4f7f5;
    }

    #stories a {
        text-align: center;
        width: 12rem;
        padding: 0.6rem 1rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        justify-self: center;
    }

    #event-news {
        width: 80%;
        position: relative;
        left: 10%;
        display: grid;
        row-gap: 2rem;
        padding: 1rem 0;
        
    }
    .event {
        display: grid;
        
    }
    #event-news h1 {
        font-family: "flood-std-regular";
        color: white;
        font-size: 2rem;
        max-width: 100%;
        padding: 2rem 0;
        text-align: center;
        justify-self: center;
    }

    #event-news .event h3 {
        text-align: center;
        font-size: 1rem;
        font-weight: 100;
        background-color: white;
        color: #354463;
        max-width: 10rem;
        padding: 0.6rem 1rem;
        position: relative;
        justify-self: center;
        top: 1rem;
    }
    .event img {
        width: 100%;
    }
    .event h4 {
        color: white;
        font-size: 1.2rem;
        font-family: Helvetica, sans-serif;
        text-align: center;
        padding: 1rem 0;
    }
    .event p {
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 0.8rem;
        text-align: center;
        padding: 2rem 0;
    }
    .event a {
        
        text-align: center;
        width: 11rem;
        padding: 0.6rem 1rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        justify-self: center;
    }

    /*Subscribe*/

    #subscribe{
        width: 80%;
        position: relative;
        left: 10%;
        display: grid;
    }
    #subscribe h4 {
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        color: #354463;
        font-size: 1.3rem;
        padding: 1.5rem 0;
    }
    #subscribe #input {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 1.5rem 0;
    }
    #subscribe #input input {
        font-family: Helvetica, sans-serif;
        border: none;
        width: 63%;
        border-radius: 2rem;
        padding: 0.6rem 0.8rem; 
        color: #354463;
        margin-right: 0.3rem;
    }
    #subscribe #input button{
        border: none;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        background-color: #354463;
        color: #C1F7D5;
        border-radius: 1rem;
        width: 37%;
        max-width: 250px;
    }

    /*final section*/

    #final-section {
        width: 80%;
        position: relative;
        left: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 2rem;
    }
    .text {
        line-height: 1.5rem;
        color: #354463;
        padding: 1rem 0;
    }
    
    .text > h3 {
      font-family: Helvetica, sans-serif;  
      font-weight: bold; 
      color: #354463 ;
      font-size: 0.8rem;
      margin-top: 1rem;
      padding: 0 0 1rem 0;
    }
    
    .text ul {
        list-style-type: none;
        padding: 0;
    }
    #hash{
        grid-column: 2/3;
        font-family: "flood-std-regular";
        justify-self: end;
        line-height: 2rem;
    }
    #hash p {
        font-size: 2rem;
        padding: 1rem 0;
    }
}

/*Tablet*/
@media screen and (min-width: 760px) {
    html {
        font-size: 1.4rem;
    }

    #header {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        padding: 0;
    }
    #header ul {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0.8rem;
    }

    #header button {
        grid-area: 1/2/3/3;
        width: 70%;
        height: 2.5rem;
    }
    #welcome ,#take-actions, #what-we-do, #did-you-know,#stories, #event-news, #subscribe, #final-section {
        width: 90%;
        left: 2rem;
    }
    #welcome #issue {
        width: 100%;
    }
    #welcome #issue h3 {
        position: relative;
        margin: 0;
        left: 2.2rem;
    }
    #welcome #issue #content {
        padding-top: 0;
    }
    #issue #content p {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    #welcome #issue #content a {
        margin-bottom: 1rem;
    }

    #take-actions #actions {
        row-gap: 3rem;
        padding-top: 2rem;
    }

    #what-we-do #we-do-msg {
        align-items: start;
        padding: 2rem 0;
    }
    #what-we-do #we-do-msg p {
        padding: 0.8rem 0 2rem 0;
        text-align: start;
    }
    #what-we-do #we-do-content {
        width: 100%;
        position: relative;
        bottom: 1rem;
    }
    #what-we-do #we-do-content .we-do-card {
        width: 100%;
        display: grid;
        grid-template-columns: 288px 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: start;
        padding: 0 0 1rem 1rem;
       
    }
    #we-do-content .we-do-card img {
        position: relative;
        bottom: 1.3rem;
        width: 288px;
        height: 201px;
    }
    #we-do-content .we-do-card a {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: end;
        align-self: center;
        margin: 0;
        height: 2rem;
    }
    #we-do-content .we-do-card h4 {
        position: relative;
        top: 0;
        font-size: 1.4rem;
        align-self: center;
        text-align: start;
    }
    #we-do-content .we-do-card p {
        grid-column: 2/3;
        padding: 0 1rem 0 0;
        position: relative;
        top: 0;
        text-align: start;
    }

    #did-you-know {
        display: grid;
        grid-template-columns: 320px 1fr;
        padding: 3rem 0;
    }
    #did-you-know #did-you-know-intro{
        display: flex;
        flex-direction: column;
    }
    #did-you-know #did-you-know-intro h2{
        padding-top: 0;
        font-size: 1.9rem;
    }
    #did-you-know #did-you-know-intro a{
        height: 2.3rem;
    }
    
    #stories {
        display: block;
    }

    #stories #story-card {
        width: 80%;
        position: relative;
        left: 7rem;
        bottom: 120px;
    }

    #stories a {
        position: relative;
        left: 7rem;
        bottom: 80px;
    }

    #event-news h1 {
        text-align: start;
    }
    #event-news .event img {
        width: 288px;
        height: 288px;
    }
    #event-news .event {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        align-items: start;
        grid-auto-rows:minmax(200px);
    }

    #event-news .event1 img {
        grid-area: 1/1/2/2;
    }
    #event-news .event1 a {
        grid-area: 3/2/4/3;
    }
    #event-news .event1 h3 {
        width: 8rem;
        justify-self: start;
        align-self: start;
    }
    #event-news .event1 h4 {
        position: relative;
        height: 3rem;
        left: 100%;
        bottom: 120%;
        text-align: start;
    }
    #event-news .event1 p {
        padding: 0 0 1rem 0;
        text-align: start;
        position: relative;
        bottom: 40%;
    }
    #event-news .event1 a {
        justify-self: start;
        position: relative;
        bottom: 1rem;
    }

    #event-news .event2 img{
        justify-self: end;
    }
    #event-news .event2 p{
        grid-area: 2/1/3/2;
        text-align: start;
        position: relative;
        bottom: 4.5rem;
    }
    #event-news .event2 h4{
        position: relative;
        right: 100%;
        bottom: 85%;
        text-align: start;
    }
    #event-news .event2 h3{
       justify-self: start;
    }
    #event-news .event2 a{
        justify-self: start;
        position: relative;
        bottom: 4rem;
    }

    #subscribe input {
        font-size: 1rem;
    }
    #subscribe button {
        font-size: 1rem;
    }

    #final-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #final-section #hash {
        grid-column: 3/4;
    }
    #final-section #hash p{
        font-size: 2rem;
    }
    #final-section :nth-child(4){
        grid-column: 2/3;
    }
    #final-section :nth-child(1){
        font-size: 1.2rem;
    }
}